//fuentes
$fuentePrincipal: sans-serif;;

 //media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #cbd5e1;
$rojo: #DB2777;
$negro: #1F2937;
$blanco: #FFF;
$border: #d1d5db;